//Tamaños
$bp-mobile: 414;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;

//Tipografias
$title-font: "Big Shoulders", sans-serif;
$subtitle-font: "Outfit", sans-serif;

//Colores

$orange: #d5966c;
$gray: #444444;
