@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.localitation {
  background-color: $orange;
  height: 350px;
  display: flex;
  justify-content: space-between;
  @include breakpoint(tablet) {
    height: 277px;
  }
  @include breakpoint(mobile) {
    display: block;
    padding: 42px 28px 37px 28px;
    height: auto;
  } 
  @include breakpoint(mobile-xl) {
    display: block;
    padding: 42px 28px 37px 28px;
    height: auto;
  }

  &_logo {
    margin-left: 200px;
    margin-top: 120px;
    width: 250px;
    @include breakpoint(tablet) {
      margin-left: 75px;
      margin-top: 100px;
    }
    @include breakpoint(mobile) {
      margin: 0;
      margin-bottom: 31px;
    } 
     @include breakpoint(mobile-xl) {
      margin: 0;
      margin-bottom: 31px;
    }
    img {
      @include breakpoint(mobile) {
        width: 45%;
      } 
      @include breakpoint(mobile-xl) {
        width: 45%;
      }
    }

  }
  &_parrafo {
    font-family: $subtitle-font;
    font-size: 28px;
    max-width: 34%;
    margin-top: 120px;
    margin-right: 350px;
    @include breakpoint(smalldesktop) {
      margin: 0;
      max-width: 100%;
      width: 38%;
      font-size: 20px;
      line-height: 32px;
      position: relative;
      top: 120px;
      right: 118px;
    }
    @include breakpoint(tablet) {
      font-size: 16px;
      margin-left: -191px;
      margin-top: 80px;
      line-height: 30px;
      margin-right: 00px;
      max-width: 27%;
    }
    @include breakpoint(mobile) {
      margin: 0;
      font-size: 16px;
      max-width: 100%;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 40px;
    }
    @include breakpoint(mobile-xl) {
      margin: 0;
      font-size: 16px;
      max-width: 100%;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 40px;
    }

  }
  &_social {
    position: relative;
    right: 200px;
    top: 150px;
    height: 100px;
    @include breakpoint(smalldesktop) {
      top: 119px;
      right: 89px;
    }
    @include breakpoint(tablet) {
      right: 70px;
      top: 94px;
    }
    @include breakpoint(mobile) {
      left: 0;
      top: 0;
    } 
    @include breakpoint(mobile-xl) {
      left: 0;
      top: 0;
    }
    
    ul {
      display: flex;
      flex-direction: row;
      gap: 27px;
      list-style: none;
    }
  }
}

.footer-principal {
  background-color: black;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  @include breakpoint(smalldesktop) {
    height: 211px;
  }
  @include breakpoint(tablet) {
    height: 254px;
  }
  @include breakpoint(tabletvertical) {
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  @include breakpoint(mobile-xl) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 315px;
    gap: 0;
    padding: 35px;
    text-align: start;
  }
  @include breakpoint(mobile) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 315px;
    gap: 0;
    padding: 35px;
    text-align: start;
  }

  &_logo {
    width: 225px;
    margin-left: 200px;
    margin-top: 75px;
    @include breakpoint(desktop) {
      margin-left: 124px;
    }
    @include breakpoint(smalldesktop) {
      margin-left: 200px;
      margin-top: 60px;
    }
    @include breakpoint(tablet) {
      width: 17%;
      margin-left: 100px;
      margin-top: 75px;
    }
    @include breakpoint(tabletvertical) {
      width: 90%;
      height: auto;
      margin-left: 36px;
      padding: 12px;
      margin-top: 40px;
    }
    @include breakpoint(mobile-xl) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    @include breakpoint(mobile) {
      max-width: 100%;
      margin: 0;
      margin-bottom: 30px;
    }
    img {
      @include breakpoint(tabletvertical) {
        width: 100%;
      }
      @include breakpoint(mobile-xl) {
        width: 100px;
      }
      @include breakpoint(mobile) {
        width: 100px;
      }
    }
  }
  &_parrafo {
    font-family: $subtitle-font;
    color: white;
    font-size: 20px;
    max-width: 25%;
    margin-top: 75px;
    margin-right: 350px;
    font-weight: 300;
    @include breakpoint(desktop) {
      max-width: 33%;
      font-weight: 300;
      margin-right: 180px;
    }
    @include breakpoint(smalldesktop) {
      max-width: 33%;
      font-weight: 300;
      margin-right: 180px;
      font-size: 16px;
      margin-top: 63px;
    }
    @include breakpoint(tablet) {
      font-size: 16px;
      max-width: 28%;
      margin-right: 166px;
      font-weight: 100;
      position: relative;
      bottom: 19px;
    }
    @include breakpoint(tabletvertical) {
      font-size: 16px;
      margin: 0px 0px 20px;
      top: 0;
      max-width: 100%;
      width: 260px;
      line-height: 28px;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    @include breakpoint(mobile-xl) {
      max-width: 100%;
      margin: 0;
      font-size: 16px;
      font-weight: 100;
      width: 100%;
      margin-bottom: 30px;
    }
    @include breakpoint(mobile) {
      max-width: 100%;
      margin: 0;
      font-size: 16px;
      font-weight: 100;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &_social {
    position: relative;
    right: 90px;
    top: 75px;
    height: 100px;
    @include breakpoint(tablet) {
      right: 100px;
    }
    @include breakpoint(tabletvertical) {
      right: 0;
      top: 27px;
      width: 52%;
      margin-top: 29px;
      margin-left: 48px;
    }
    @include breakpoint(mobile-xl) {
      top: 0;
    }
    @include breakpoint(mobile) {
      top: 0;
    }
    ul {
      display: flex;
      flex-direction: row;
      gap: 27px;
      list-style: none;
      @include breakpoint(mobile-xl) {
        justify-content: center;
        gap: 0;
      }
      @include breakpoint(mobile) {
        justify-content: center;
        gap: 0;
      }
    }
    img {
      width: 30px;
      @include breakpoint(tablet) {
        width: 17px;
      }
      @include breakpoint(mobile-xl) {
        width: 23px;
        margin-right: 19px;
      }
      @include breakpoint(mobile) {
        width: 23px;
        margin-right: 19px;
      }
    }
  }
}
