@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

//Formato diferente de header para background del movil
@include breakpoint(mobile) {
  header.header_principal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 29vh;
    background-image: url(../img/imagen1.png);
    background-size: cover;
    background-position: center 51%;
    background-repeat: no-repeat;
  }
}@include breakpoint(mobile-xl) {
  header.header_principal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 29vh;
    background-image: url(../img/imagen1.png);
    background-size: cover;
    background-position: center 51%;
    background-repeat: no-repeat;
  }
}

header.header_principal {
  min-height: 100vh;
  margin-bottom: 175px;

  background-image: url("../img/imagen1.png"),
    linear-gradient(
      to right,
      #000000 0%,
      #000000 33.3%,
      #ffffff 33.3%,
      #ffffff 100%
    );

  background-position: center center, top left;

  background-size: 42.3% 100%, cover;

  background-repeat: no-repeat, no-repeat;
  @include breakpoint(desktop) {
    background-size: 44.3% 100%, cover;
  }

  @include breakpoint(tablet) {
    background-image: url("../img/imagen1.png");

    background-color: #ffffff;
    background-size: 55%;
    background-position: top left;
    background-repeat: no-repeat;
    background-blend-mode: normal;

    min-height: 123vh;
    min-width: 100%;
    margin-bottom: 90px;
  }
  @include breakpoint(tabletvertical) {
    background-image: url("../img/imagen1.png");

    background-color: #ffffff;
    background-size: 63%;
    background-position: top left;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    min-height: 76vh;
    min-width: 100%;
    margin-bottom: 36px;
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: auto;
    background-image: none;
    align-content: space-between;
    min-height: 78vh;
    margin-bottom: 85px;
  } 
   @include breakpoint(mobile-xl) {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: auto;
    background-image: none;
    align-content: space-between;
    min-height: 78vh;
    margin-bottom: 85px;
  }

  .header_principal-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(mobile-xl) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
      position: relative;
      top: 271px;
      margin-left: 20px;
    }
    @include breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
      position: relative;
      top: 271px;
      margin-left: 20px;
    }
    &-title {
      color: white;
      font-family: $title-font;
      font-size: 130px;
      font-weight: 900;
      position: relative;
      left: 168px;
      top: 256px;
      max-width: 64%;
      line-height: 120px;
      @include breakpoint(desktop) {
        font-size: 100px;
        line-height: 94px;
        max-width: 65%;
        left: 102px;
        top: 216px;
      }

      @include breakpoint(smalldesktop) {
        font-size: 87px;
        left: 112px;
        top: 194px;
        max-width: 64%;
        line-height: 82px;
      }
      @include breakpoint(tablet) {
        font-size: 70px;
        color: black;
        line-height: 76px;
        position: relative;
        left: 513px;
        top: 167px;
        max-width: 64%;
      }
      @include breakpoint(tabletvertical) {
        font-size: 64px;
        color: black;
        line-height: 76px;
        position: relative;
        left: 440px;
        top: 137px;
        max-width: 79%;
      }
      @include breakpoint(mobile-xl) {
        color: black;
        font-size: 58px;
        line-height: 56px;
        max-width: 78%;
        left: 0;
        top: 0;
        margin-bottom: 30px;
      }

      @include breakpoint(mobile) {
        color: black;
        font-size: 58px;
        line-height: 56px;
        max-width: 78%;
        left: 0;
        top: 0;
        margin-bottom: 30px;
      }
    }
    &-subtitle {
      color: $gray;
      position: relative;
      top: 256px;
      left: 323px;
      font-family: $subtitle-font;
      font-size: 28px;
      max-width: 46%;
      line-height: 44px;
      @include breakpoint(desktop) {
        max-width: 54%;
        position: relative;
        left: 249px;
        top: 214px;
        font-size: 24px;
        line-height: 39px;
      }
      @include breakpoint(smalldesktop) {
        max-width: 56%;
        top: 190px;
        left: 209px;
        font-size: 22px;
        line-height: 31px;
      }
      @include breakpoint(tablet) {
        max-width: 69%;
        position: relative;
        left: 0;
        top: 388px;
        font-size: 18px;
        line-height: 33px;
      }
      @include breakpoint(tabletvertical) {
        max-width: 80%;
        position: relative;
        left: 56px;
        top: 346px;
        font-size: 16px;
        line-height: 25px;
      }
      @include breakpoint(mobile-xl) {
        max-width: 100%;
        left: 0;
        top: 0;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 30px;
      }
      @include breakpoint(mobile) {
        max-width: 100%;
        left: 0;
        top: 0;
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }

  .location-link {
    display: inline-flex;
    text-decoration: none;
    height: 80px;
    max-width: 57%;
    position: relative;
    top: 315px;
    left: 1277px;
    @include breakpoint(desktop) {
      max-width: 62%;
      top: 267px;
      left: 976px;
    }
    @include breakpoint(smalldesktop) {
      top: 250px;
      left: 848px;
      max-width: 63%;
      max-height: 84%;
    }
    @include breakpoint(tablet) {
      max-width: 88%;
      position: relative;
      top: 443px;
      left: 514px;
    }
    @include breakpoint(tabletvertical) {
      max-width: 84%;
      max-height: 74%;
      position: relative;
      top: 378px;
      left: 443px;
    }
    @include breakpoint(mobile-xl) {
      max-width: 100%;
      width: 72%;
      height: 100%;
      top: 0;
      left: 0;
    }

    @include breakpoint(mobile) {
      max-width: 100%;
      width: 72%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .location-link .text {
    background-color: #000;
    color: #fff;
    padding: 14px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: $title-font;
    font-weight: 500;
    width: 50%;
    letter-spacing: 4px;
    @include breakpoint(desktop) {
      font-size: 23px;
    }
    @include breakpoint(smalldesktop) {
      font-size: 18px;
    }
    @include breakpoint(tablet) {
      font-size: 23px;
    }
    @include breakpoint(tabletvertical) {
      font-size: 17px;
      padding: 8px 8px;
    }
    @include breakpoint(mobile-xl) {
      font-size: 20px;
      width: 100%;
      height: 70px;
      padding: 14px 32px;
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      width: 100%;
      height: 70px;
      padding: 14px 32px;
    }
  }

  .location-link .flecha {
    background-color: $orange;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .location-link:hover .flecha {
    background-color: $orange;
  }

  .location-link:hover .text {
    opacity: 0.9;
  }
}

.header_maps {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 900px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include breakpoint(tablet) {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  transition: filter 0.3s ease;
  filter: grayscale(100%);
}

.map-container {
  .localitation-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;

    height: 60px;
    border-radius: 2px;
  }

  .localitation-link .text {
    background-color: #000;
    color: #fff;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: $title-font;
  }

  .localitation-link {
    position: relative;
    left: 324px;
  }

  .localitation-link .flecha {
    background-color: $orange;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .localitation-link:hover .flecha {
    background-color: #a66f4f;
  }

  .localitation-link:hover .text {
    opacity: 0.9;
  }
}
