@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  &_container-1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 50px;
    @include breakpoint(desktop) {
      margin-left: -65px;
      gap: 0;

    }
   
    &-texto {
      max-width: 26%;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(desktop) {
        max-width: 29%;
        margin-left: 0;


      }
      &-title {
        position: relative;
        bottom: 45px;
        font-family: $title-font;
        font-size: 65px;
        font-weight: bold;
        max-width: 85%;
        @include breakpoint(desktop) {
          font-size: 55px;

        }
      }
      &-subtitle {
        font-family: $subtitle-font;
        font-size: 26px;
        color: $gray;
        max-width: 100%;
        @include breakpoint(desktop) {
          font-size: 20px;
          max-width: 97%;

        }
      }
    }

    &-img {
      margin-left: 115px;
      max-width: 47%;
      @include breakpoint(desktop) {
        margin-left: 115px;

      }
    }
  }
  &_container-2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 200px;
    @include breakpoint(desktop) {
      gap: 20px;
      margin-left: -60px;
    }

    &-banco {
      max-width: 47%;
    }

    &-block {
      max-width: 33%;

      &-texto {
        height: 488px;
        color: white;
        background-color: black;
        padding: 90px 60px;
        @include breakpoint(desktop) {
          height: 346px;
          padding: 60px 40px;
        }
        &-title {
          font-size: 65px;
          font-family: $title-font;
          margin-bottom: 40px;
          @include breakpoint(desktop) {
            font-size: 55px;
            margin-bottom: 30px;

          }
        }
        &-subtitle {
          font-size: 26px;
          font-family: $subtitle-font;
          @include breakpoint(desktop) {
            font-size: 18px;
          }
        }
      }
      &-pasillo {
        max-width: 100%;
      }
    }
  }
}
