@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  &_container-1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 50px;
    @include breakpoint(desktop) {
      margin-left: -65px;
      gap: 0;
    }
    @include breakpoint(tablet) {
      display: block;
    }
   
    &-texto {
      max-width: 26%;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(desktop) {
        max-width: 29%;
        margin-left: 0;
        font-weight: 900;
      }
     
      &-title {
        position: relative;
        bottom: 45px;
        font-family: $title-font;
        font-size: 72px;
        font-weight: 900;
        max-width: 85%;
        line-height: 70px;
        @include breakpoint(desktop) {
          font-size: 55px;
        }
        @include breakpoint(tablet) {
          font-size: 50px;
          line-height: 45px;
          font-weight: 900;
          position: relative;
          bottom: 45px;
          left: 45px;
        }
      }
      &-subtitle {
        font-family: $subtitle-font;
        font-size: 26px;
        font-weight: 300;
        color: $gray;
        max-width: 100%;
        @include breakpoint(desktop) {
          font-size: 20px;
          max-width: 97%;
        }
        @include breakpoint(tablet) {
          font-size: 18px;
          line-height: 30x;
          max-width: 93%;
          position: relative;
          bottom: 10px;
          left: 45px;
        }
      }
    }

    &-img {
      margin-left: 152px;
      max-width: 52%;
      @include breakpoint(desktop) {
        margin-left: 115px;
      }
      @include breakpoint(tablet) {
        width: 419px;
        height: 400px;
        object-fit: cover;
        object-position: 53%
      }
      @include breakpoint(mobile) {
        position: relative;
        left: -331px;
        top: -189px;
        max-width: 100%;
        object-fit: cover;
        background-size: cover;

      }
    }
  }

  &_container-2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 40px;
    margin-bottom: 200px;
    @include breakpoint(desktop) {
      gap: 20px;
      margin-left: -60px;
    }
    @include breakpoint(tablet) {
      gap: 10px;
    }

    &-banco {
      max-width: 50%;
      @include breakpoint(tablet) {
        margin-left: 42px;
        width: 541px;
        height: 800px;
        object-fit: cover;
        object-position: 50% ;
      }
    }

    &-block {
      max-width: 33%;
      @include breakpoint(tablet) {
        height: 40vh;
        width: 24%;

      }

      &-texto {
        height: 536px;
        color: white;
        background-color: black;
        padding: 90px 60px;
        @include breakpoint(desktop) {
          height: 346px;
          padding: 60px 40px;
        }
        @include breakpoint(tablet) {
          max-height:57%;
          padding: 90px 40px;

        }
       
        &-title {
          font-size: 65px;
          font-family: $title-font;
          margin-bottom: 40px;
          font-weight: 900;
          @include breakpoint(desktop) {
            font-size: 55px;
            margin-bottom: 30px;
          }
          @include breakpoint(tablet) {
            font-size: 50px;

          }
        }
        &-subtitle {
          font-size: 26px;
          font-family: $subtitle-font;
          font-weight: 100;
          @include breakpoint(desktop) {
            font-size: 18px;
          }
          @include breakpoint(tablet) {
            font-size: 18px;
            font-weight: 100;
          }
        }
      }
      &-pasillo {
        max-width: 100%;
        margin-bottom: 35px;
        @include breakpoint(tablet) {
          height:43%;
          object-fit:cover;
          object-position: 50% 80% ;
        }
      }
    }
  }
}
