@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &_container-1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 50px;
    @include breakpoint(desktop) {
      margin-left: -0;
      gap: 0;
    }
    @include breakpoint(tablet) {
      display: flex;
      position: relative;
      top: 0;
      gap: 0;
      margin-bottom: 0px;
    }
    @include breakpoint(mobile) {
      justify-content: space-between;
      width: 375px;
      overflow-x: hidden;
      flex-direction: column;
      align-items: flex-start;
    }

    &-texto {
      max-width: 26%;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(desktop) {
        max-width: 29%;
        margin-left: 0;
        font-weight: 900;
      }
      @include breakpoint(smalldesktop) {
        max-width: 28%;
        margin-left: -0;
        font-weight: 900;
      }
      @include breakpoint(tabletvertical) {
        max-width: 35%;
      }
      @include breakpoint(mobile) {
        position: relative;
        top: 252px;
      }

      &-title {
        position: relative;
        bottom: 45px;
        font-family: $title-font;
        font-size: 72px;
        font-weight: 900;
        max-width: 85%;
        line-height: 70px;
        @include breakpoint(desktop) {
          font-size: 64px;
          font-weight: 900;
        }
        @include breakpoint(smalldesktop) {
          font-size: 48px;
          line-height: 50px;
          font-weight: 900;
          margin-bottom: -20px;
        }
        @include breakpoint(tablet) {
          font-size: 64px;
          line-height: 64px;
          font-weight: 700;
          max-width: 100%;
          bottom: 49px;
        }
        @include breakpoint(tabletvertical) {
          font-size: 59px;
          line-height: 53px;
          max-width: 100%;
          bottom: 13px;
          font-weight: 900;
          margin-bottom: 31px;
        }
        @include breakpoint(mobile) {
          font-size: 25px;
          max-width: 100%;
          bottom: 0;
          line-height: 0;
        }
      }
      &-subtitle {
        font-family: $subtitle-font;
        font-size: 26px;
        font-weight: 300;
        color: $gray;
        max-width: 100%;
        @include breakpoint(desktop) {
          font-size: 23px;
          max-width: 85%;
        }
        @include breakpoint(smalldesktop) {
          font-size: 18px;
          max-width: 85%;
          line-height: 26px;
        }
        @include breakpoint(tablet) {
          font-size: 20px;
          line-height: 28px;
          max-width: 93%;
          position: relative;
          bottom: 20px;
        }
        @include breakpoint(tabletvertical) {
          font-size: 20px;
          line-height: 22px;
          max-width: 100%;
          position: relative;
        }
        @include breakpoint(mobile) {
          font-size: 15px;
        }
      }
    }

    &-img {
      margin-left: 152px;
      max-width: 52%;
      @include breakpoint(desktop) {
        margin-left: 142px;
        max-width: 53%;
      }
      @include breakpoint(smalldesktop) {
        max-width: 52%;
        margin-left: 111px;
      }
      @include breakpoint(tablet) {
        width: 504px;
        height: 504px;
        object-fit: cover;
        object-position: 53%;
        margin-left: 112px;
      }
      @include breakpoint(tabletvertical) {
        width: 372px;
        height: 372px;
        object-fit: cover;
        object-position: 53%;
        margin-left: 65px;
      }
      @include breakpoint(mobile) {
        position: relative;
        max-width: 100%;
        object-fit: cover;
        background-size: cover;
        margin-left: 0;
      }
    }
  }

  &_container-2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 40px;
    margin-bottom: 200px;
    @include breakpoint(desktop) {
    }
    @include breakpoint(smalldesktop) {
      gap: 0;
      margin-left: 0;
    }
    @include breakpoint(tablet) {
      gap: 10px;
      margin-bottom: 100px;
    }
    @include breakpoint(tabletvertical) {
      margin-bottom: 80px;
      max-height: 75vh;
    }

    &-banco {
      max-width: 50%;
      @include breakpoint(desktop) {
        max-width: 53%;
      }
      @include breakpoint(smalldesktop) {
        max-width: 54%;
      }
      @include breakpoint(tablet) {
        margin-left: 0;
        width: 473px;
        height: 740px;
        object-fit: cover;
        object-position: 50%;
      }
      @include breakpoint(tabletvertical) {
        max-height: 62vh;
        min-width: 57%;
      }
    }

    &-block {
      max-width: 36%;
      @include breakpoint(desktop) {
        max-width: 34%;
      }

      @include breakpoint(smalldesktop) {
        margin-left: 23px;
      }
      @include breakpoint(tablet) {
        height: 109vh;
        width: 110vh;
        position: relative;
        left: 26px;
      }
      @include breakpoint(tabletvertical) {
        height: 19vh;
        left: 0;
        top: 8px;

        max-width: 14vh;
      }
      @include breakpoint(mobile) {
        height: 64vh;
        left: 0;
        top: 8px;

        max-width: 27vh;
      }

      &-texto {
        height: 500px;
        color: white;
        background-color: black;
        padding: 90px 60px;
        @include breakpoint(desktop) {
          width: 493px;
          height: 431px;
          padding: 60px 40px;
        }
        @include breakpoint(smalldesktop) {
          height: 386px;
          padding: 60px 60px;
        }
        @include breakpoint(tablet) {
          max-height: 50%;
          padding: 90px 40px;
        }
        @include breakpoint(tabletvertical) {
          padding: 58px 27px;
          max-height: 60%;
          position: relative;
          bottom: 27px;
        }
        @include breakpoint(mobile) {
          max-width: 10%;
          max-height: 10%;
        }

        &-title {
          font-size: 80px;
          font-family: $title-font;
          margin-bottom: 30px;
          font-weight: 900;
          @include breakpoint(desktop) {
            font-size: 55px;
            margin-bottom: 30px;
            font-weight: 900;
          }
          @include breakpoint(smalldesktop) {
            font-size: 54px;
          }
          @include breakpoint(tablet) {
            font-size: 50px;
          }
        }
        &-subtitle {
          font-size: 26px;
          max-width: 83%;
          font-family: $subtitle-font;
          font-weight: 100;
          @include breakpoint(desktop) {
            font-size: 18px;
          }
          @include breakpoint(smalldesktop) {
            font-size: 18px;
          }
          @include breakpoint(tablet) {
            font-size: 18px;
            font-weight: 100;
          }
          @include breakpoint(tabletvertical) {
            max-width: 100%;
          }
        }
      }
      &-pasillo {
        max-width: 100%;
        margin-bottom: 35px;
        @include breakpoint(desktop) {
          margin-bottom: 23px;
          max-width: 108%;
        }
        @include breakpoint(smalldesktop) {
          margin-bottom: 30px;
        }
        @include breakpoint(tablet) {
          height: 37%;
          width: 100%;
          object-position: 92% 84%;
          margin-bottom: 57px;
          position: relative;
          top: 51px;
        }
        @include breakpoint(tabletvertical) {
          max-height: 23vh;
          max-width: 30vh;
          top: 0;
          margin-bottom: 30px;
        }
        @include breakpoint(mobile) {
          position: relative;
          left: -171px;
        }
      }
    }
  }
}
