@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
  &_container-1 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    margin-bottom: 50px;
    @include breakpoint(desktop) {
      margin-left: -65px;
      gap: 0;
    }
    @include breakpoint(tablet) {
      display: flex;
      position: relative;
      top: 0;
      gap: 0;
    }

    &-texto {
      max-width: 26%;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include breakpoint(desktop) {
        max-width: 29%;
        margin-left: 0;
        font-weight: 900;
      }
      @include breakpoint(smalldesktop) {
        max-width: 28%;
        margin-left: -0;
        font-weight: 900;
      }

      &-title {
        position: relative;
        bottom: 45px;
        font-family: $title-font;
        font-size: 72px;
        font-weight: 900;
        max-width: 85%;
        line-height: 70px;
        @include breakpoint(desktop) {
          font-size: 55px;
          font-weight: 900;
        }
        @include breakpoint(smalldesktop) {
          font-size: 48px;
          line-height: 50px;
          font-weight: 900;
          margin-bottom: -20px;
        }
        @include breakpoint(tablet) {
          font-size: 64px;
          line-height: 64px;
          font-weight: 700;
          max-width: 100%;
          bottom: 49px;
        }  
        @include breakpoint(tabletvertical) {
          font-size: 49px;
          line-height: 51px;
          font-weight: 700;
          max-width: 100%;
          bottom: 49px;
        }
      }
      &-subtitle {
        font-family: $subtitle-font;
        font-size: 26px;
        font-weight: 300;
        color: $gray;
        max-width: 100%;
        @include breakpoint(desktop) {
          font-size: 20px;
          max-width: 85%;
        }
        @include breakpoint(smalldesktop) {
          font-size: 18px;
          max-width: 85%;
          line-height: 26px;
        }
        @include breakpoint(tablet) {
          font-size: 20px;
          line-height: 28px;
          max-width: 93%;
          position: relative;
          bottom: 20px;
        }    
        @include breakpoint(tabletvertical) {
          font-size: 15px;
          line-height: 22px;
          max-width: 93%;
          position: relative;
          bottom: 20px;
        }
      }
    }

    &-img {
      margin-left: 152px;
      max-width: 52%;
      @include breakpoint(desktop) {
        margin-left: 115px;
        max-width: 59%;
      }
      @include breakpoint(smalldesktop) {
        max-width: 52%;
        margin-left: 111px;
      }
      @include breakpoint(tablet) {
        width: 504px;
        height: 504px;
        object-fit: cover;
        object-position: 53%;
        margin-left: 112px;
      }   
      @include breakpoint(tabletvertical) {
        width: 374px;
        height: 373px;
        object-fit: cover;
        object-position: 53%;
        margin-left: 89px;
      }
      @include breakpoint(mobile) {
        position: relative;
        left: -331px;
        top: -189px;
        max-width: 100%;
        object-fit: cover;
        background-size: cover;
      }
    }
  }

  &_container-2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 40px;
    margin-bottom: 200px;
    @include breakpoint(desktop) {
      gap: 45px;
      margin-left: 0;
    }
    @include breakpoint(smalldesktop) {
      gap: 30px;
      margin-left: 0;
    }
    @include breakpoint(tablet) {
      gap: 10px;
      margin-bottom: 100px;

    }

    &-banco {
      max-width: 50%;
      @include breakpoint(desktop) {
        max-width: 57%;
      }
      @include breakpoint(smalldesktop) {
        max-width: 54%;
      }
      @include breakpoint(tablet) {
        margin-left: 0;
        width: 501px;
        height: 740px;
        object-fit: cover;
        object-position: 50%;
      }
    }

    &-block {
      max-width: 36%;
      @include breakpoint(tablet) {
        height: 109vh;
        width: 55%;
      }

      &-texto {
        height: 500px;
        color: white;
        background-color: black;
        padding: 90px 60px;
        @include breakpoint(desktop) {
          height: 446px;
          padding: 60px 40px;
        }
        @include breakpoint(smalldesktop) {
          height: 386px;
          padding: 60px 60px;
        }
        @include breakpoint(tablet) {
          max-height: 50%;
          padding: 90px 40px;

        }

        &-title {
          font-size: 65px;
          font-family: $title-font;
          margin-bottom: 40px;
          font-weight: 900;
          @include breakpoint(desktop) {
            font-size: 55px;
            margin-bottom: 30px;
            font-weight: 900;
          }
          @include breakpoint(smalldesktop) {
            font-size: 54px;
          }
          @include breakpoint(tablet) {
            font-size: 50px;
          }
        }
        &-subtitle {
          font-size: 26px;
          font-family: $subtitle-font;
          font-weight: 100;
          @include breakpoint(desktop) {
            font-size: 18px;
          }
          @include breakpoint(smalldesktop) {
            font-size: 18px;
          }
          @include breakpoint(tablet) {
            font-size: 18px;
            font-weight: 100;
          }
        }
      }
      &-pasillo {
        max-width: 100%;
        margin-bottom: 35px;
        @include breakpoint(smalldesktop) {
          margin-bottom: 30px;
        }
        @include breakpoint(tablet) {
          height: 37%;
          width: 100%;
          object-position: 92% 84%;
          margin-bottom: 57px;
          position: relative;
          top: 51px;
        }
      }
    }
  }
}
