@use "../abstracts/variables" as *;


main.main_principal {
  margin-left: 284px;
}

main.main_maps {
  background-color: black;
  position: relative;
  width: 100%;
  height: 760px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  h1 {
    color: rgb(255, 255, 255);
    font-family: $title-font;
    font-size: 124px;
    line-height: 113px;
    max-width: 24%;
    position: relative;
    margin-top: 144px;
    margin-left: 230px;
  }
  h3 {
    font-size: 55px;
    font-family: $title-font;
    color: $orange;
    position: relative;
    margin-top: -244px;
    margin-left: 1000px;
  }
  p.address {
    font-family: $subtitle-font;
    font-weight: 100;
    line-height: 53px;
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: 34px;
    margin-left: 1000px;

  }

  p.description {
    max-width: 38%;
    font-family: $subtitle-font;
    font-weight: 100;
    line-height: 53px;
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: 34px;
    margin-left: 1000px;


  }
  
}
