@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

main.main_principal {
  margin-left: 206px;
  @include breakpoint(smalldesktop) {
    margin-left: 112px;
  }
   @include breakpoint(desktop) {
     margin-left: 100px;
  }
  @include breakpoint(tablet) {
    margin-left: 79px;
    max-width: 100%;
  }
  @include breakpoint(tabletvertical) {
    margin-left: 51px;
  }
  

  @include breakpoint(mobile) {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}

main.main_maps {
  background-color: black;
  position: relative;
  width: 100%;
  height: 760px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  @include breakpoint(tablet) {
    height: 600px;
  }

  h1 {
    color: rgb(255, 255, 255);
    font-family: $title-font;
    font-size: 124px;
    line-height: 113px;
    max-width: 24%;
    position: relative;
    margin-top: 144px;
    margin-left: 230px;
    @include breakpoint(tablet) {
      font-size: 70px;
      margin-top: 144px;
      margin-left: 80px;
      line-height: 78px;
    }
  }
  h3 {
    font-size: 55px;
    font-family: $title-font;
    color: $orange;
    position: relative;
    margin-top: -244px;
    margin-left: 1000px;
    @include breakpoint(tablet) {
      font-size: 50px;
      margin-top: -165px;
      margin-left: 450px;
    }
  }
  p.address {
    font-family: $subtitle-font;
    font-weight: 100;
    line-height: 53px;
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: 34px;
    margin-left: 1000px;
    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 29px;
      margin-top: 34px;
      margin-left: 450px;
    }
  }

  p.description {
    max-width: 38%;
    font-family: $subtitle-font;
    font-weight: 100;
    line-height: 53px;
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: 34px;
    margin-left: 1000px;
    @include breakpoint(tablet) {
      font-size: 20px;
      margin-top: 34px;
      margin-left: 450px;
      max-width: 43%;
      line-height: 30px;
    }
  }
}
